In [68]:
import pandas as pd
from colors import rgb, hex
import numpy as np

In [46]:
df = pd.read_csv("../Data/shades.csv")
df.head()

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

In [50]:
tuple(hex(df['hex'][2]).rgb)

(255, 224, 205)

In [48]:
df['hex']

0      f3cfb3
1      ffe3c2
2      ffe0cd
3      ffd3be
4      bd9584
        ...
620    eecfba
621    e8c7b8
622    f0cbb9
623    e9c4b1
624    eabea1
Name: hex, Length: 625, dtype: object

In [49]:
print(df.loc[0,'hex'])

f3cfb3

In [51]:
df['hex'] = df['hex'].apply(lambda x: tuple(hex(x).rgb))

In [56]:
df['hex'][0][0]

243

In [57]:
df['hex'][0][1]

207

In [58]:
df['hex'][0][2]

179

In [59]:
red = []
green = []
blue = []

for i in df['hex']:
    red.append(i[0])
    green.append(i[1])
    blue.append(i[2])

In [60]:
df['red'] = red
df['green'] = green
df['blue'] = blue

In [61]:
df

,brand,brand_short,product,product_short,hex,H,S,V,L,group,red,green,blue
0,Maybelline,mb,Fit Me,fmf,"(243, 207, 179)",26.0,0.26,0.95,86,2,243,207,179
1,Maybelline,mb,Fit Me,fmf,"(255, 227, 194)",32.0,0.24,1.00,92,2,255,227,194
2,Maybelline,mb,Fit Me,fmf,"(255, 224, 205)",23.0,0.20,1.00,91,2,255,224,205
3,Maybelline,mb,Fit Me,fmf,"(255, 211, 190)",19.0,0.25,1.00,88,2,255,211,190
4,Maybelline,mb,Fit Me,fmf,"(189, 149, 132)",18.0,0.30,0.74,65,2,189,149,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,L'Oréal,lo,True Match,tms,"(238, 207, 186)",24.0,0.22,0.93,85,7,238,207,186
621,L'Oréal,lo,True Match,tms,"(232, 199, 184)",19.0,0.21,0.91,83,7,232,199,184
622,L'Oréal,lo,True Match,tms,"(240, 203, 185)",20.0,0.23,0.94,85,7,240,203,185
623,L'Oréal,lo,True Match,tms,"(233, 196, 177)",20.0,0.24,0.91,82,7,233,196,177
624,L'Oréal,lo,True Match,tms,"(234, 190, 161)",24.0,0.31,0.92,80,7,234,190,161

In [63]:
example = (222.24678456591653 + 193.00401929260468 + 181.0803858520894)

In [64]:
df['test'] = example

In [66]:
df['rgbsum'] = df['red'] + df['green'] + df['blue']

In [70]:
df['difference'] = np.abs(df['rgbsum'] - df['test'])

In [77]:
df['difference'].mean()

146.18730803858654

In [72]:
df['difference'].argmin()

573

In [73]:
df.loc[573]

brand                   Colorbar
brand_short                   cb
product            Perfect Match
product_short                 pm
hex              (236, 195, 165)
H                           25.0
S                            0.3
V                           0.93
L                             82
group                          7
red                          236
green                        195
blue                         165
test                   596.33119
rgbsum                       596
difference               0.33119
Name: 573, dtype: object

In [82]:
df = df.drop(columns=['test', 'rgbsum', 'difference'])

In [83]:
df.to_csv('../Data/shades_updated.csv', index=False)
path = '../Data/shades_updated.csv'
test = pd.read_csv(path)
test.head()

,brand,brand_short,product,product_short,hex,H,S,V,L,group,red,green,blue
0,Maybelline,mb,Fit Me,fmf,"(243, 207, 179)",26.0,0.26,0.95,86,2,243,207,179
1,Maybelline,mb,Fit Me,fmf,"(255, 227, 194)",32.0,0.24,1.00,92,2,255,227,194
2,Maybelline,mb,Fit Me,fmf,"(255, 224, 205)",23.0,0.20,1.00,91,2,255,224,205
3,Maybelline,mb,Fit Me,fmf,"(255, 211, 190)",19.0,0.25,1.00,88,2,255,211,190
4,Maybelline,mb,Fit Me,fmf,"(189, 149, 132)",18.0,0.30,0.74,65,2,189,149,132